__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/
ENV/
*/.venv/
*/venv/
build/
dist/
*.egg-info/
.eggs/
.pytest_cache/
.coverage
coverage.xml
htmlcov/
.mypy_cache/
.pytype/
.ruff_cache/
.ipynb_checkpoints/
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log
node_modules/
*.so
pyvenv.cfg
*.cache/
